# Using Regex library to find pattern in a string

In [1]:
chat = """John Smith - Roll No: 12345
Alice Johnson - Roll No: 54321
Mark Davis - Roll No: 98765
Sarah White - Roll No: 56789
Michael Brown - Roll No: 45678
Emily Wilson - Roll No: 23456
David Miller - Roll No: 78901
Sophia Lee - Roll No: 87654
Olivia Anderson - Roll No: 34567
James Garcia - Roll No: 67890
Linda Martinez - Roll No: 43210
Christopher Harris - Roll No: 21043
Jessica Clark - Roll No: 34561
Matthew Young - Roll No: 98210
Ava Lopez - Roll No: 10982
Daniel Hall - Roll No: 65432
Elizabeth Adams - Roll No: 54321
William Jackson - Roll No: 12345
Emma Lewis - Roll No: 87654
Andrew Perez - Roll No: 43210
Olivia Baker - Roll No: 21043
Joseph Cook - Roll No: 56789
Sophia Stewart - Roll No: 54321
Benjamin Turner - Roll No: 23456
Mia Rivera - Roll No: 98765
Nicholas Brooks - Roll No: 87654
Ava Collins - Roll No: 56789
Jacob Price - Roll No: 54321
"""

print(chat)

John Smith - Roll No: 12345
Alice Johnson - Roll No: 54321
Mark Davis - Roll No: 98765
Sarah White - Roll No: 56789
Michael Brown - Roll No: 45678
Emily Wilson - Roll No: 23456
David Miller - Roll No: 78901
Sophia Lee - Roll No: 87654
Olivia Anderson - Roll No: 34567
James Garcia - Roll No: 67890
Linda Martinez - Roll No: 43210
Christopher Harris - Roll No: 21043
Jessica Clark - Roll No: 34561
Matthew Young - Roll No: 98210
Ava Lopez - Roll No: 10982
Daniel Hall - Roll No: 65432
Elizabeth Adams - Roll No: 54321
William Jackson - Roll No: 12345
Emma Lewis - Roll No: 87654
Andrew Perez - Roll No: 43210
Olivia Baker - Roll No: 21043
Joseph Cook - Roll No: 56789
Sophia Stewart - Roll No: 54321
Benjamin Turner - Roll No: 23456
Mia Rivera - Roll No: 98765
Nicholas Brooks - Roll No: 87654
Ava Collins - Roll No: 56789
Jacob Price - Roll No: 54321

In [2]:
import re
# Regex library

pattern = "(.*) - Roll No: (\d{4})"

rows : list[str] = re.findall(pattern, chat)

rows

[('John Smith', '1234'),
 ('Alice Johnson', '5432'),
 ('Mark Davis', '9876'),
 ('Sarah White', '5678'),
 ('Michael Brown', '4567'),
 ('Emily Wilson', '2345'),
 ('David Miller', '7890'),
 ('Sophia Lee', '8765'),
 ('Olivia Anderson', '3456'),
 ('James Garcia', '6789'),
 ('Linda Martinez', '4321'),
 ('Christopher Harris', '2104'),
 ('Jessica Clark', '3456'),
 ('Matthew Young', '9821'),
 ('Ava Lopez', '1098'),
 ('Daniel Hall', '6543'),
 ('Elizabeth Adams', '5432'),
 ('William Jackson', '1234'),
 ('Emma Lewis', '8765'),
 ('Andrew Perez', '4321'),
 ('Olivia Baker', '2104'),
 ('Joseph Cook', '5678'),
 ('Sophia Stewart', '5432'),
 ('Benjamin Turner', '2345'),
 ('Mia Rivera', '9876'),
 ('Nicholas Brooks', '8765'),
 ('Ava Collins', '5678'),
 ('Jacob Price', '5432')]

# Using Pandas to convert the data extracted into a table format

In [3]:
c

                  Name Roll No
0           John Smith    1234
1        Alice Johnson    5432
2           Mark Davis    9876
3          Sarah White    5678
4        Michael Brown    4567
5         Emily Wilson    2345
6         David Miller    7890
7           Sophia Lee    8765
8      Olivia Anderson    3456
9         James Garcia    6789
10      Linda Martinez    4321
11  Christopher Harris    2104
12       Jessica Clark    3456
13       Matthew Young    9821
14           Ava Lopez    1098
15         Daniel Hall    6543
16     Elizabeth Adams    5432
17     William Jackson    1234
18          Emma Lewis    8765
19        Andrew Perez    4321
20        Olivia Baker    2104
21         Joseph Cook    5678
22      Sophia Stewart    5432
23     Benjamin Turner    2345
24          Mia Rivera    9876
25     Nicholas Brooks    8765
26         Ava Collins    5678
27         Jacob Price    5432